{% extends 'vDate/base.html' %}
{% load humanize %}
{% block content %}
<section class="row">
	<div class="col-sm-6">
		<h1>Relations <span class="badge">{{ relationsList.count }}</span></h1>
	</div>
	<div class="col-sm-6">	
		<form class="form-inline" method="POST">{% csrf_token %}
			{{ getNumberForm.errors }}
			<div class="input-group">
				<input type="number" class="form-control" id="id_number" max="200" name="number" placeholder="Number" required>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary">Generate Random Entries</button>
				</span>
			</div>
		</form>
	</div>
</section>

<section>
	<div class="table-responsive">
		<form method="POST">{% csrf_token %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Boy</th>
					<th>Girl</th>
					<th>Committed On</th>
				</tr>
			</thead>
			<tbody>
			{% for relation in relationsList %}
			<tr>
				<td>{{ relation.boy.name }}</td>
				<td>{{ relation.girl.name }}</td>
				<td>{{ relation.commitOn }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}